<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="bankAccount">
      <h2 data-cy="bankAccountDetailsHeading">
        <span myTranslate="mySampleApplicationApp.bankAccount.detail.title">Bank Account</span>
      </h2>

      <hr />

      <my-alert-error></my-alert-error>

      <my-alert></my-alert>

      <dl class="row-md jh-entity-details">
        <dt><span myTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bankAccount.id }}</span>
        </dd>
        <dt><span myTranslate="mySampleApplicationApp.bankAccount.name">Name</span></dt>
        <dd>
          <span>{{ bankAccount.name }}</span>
        </dd>
        <dt><span myTranslate="mySampleApplicationApp.bankAccount.balance">Balance</span></dt>
        <dd>
          <span>{{ bankAccount.balance }}</span>
        </dd>
        <dt><span myTranslate="mySampleApplicationApp.bankAccount.user">User</span></dt>
        <dd>
          <span>{{ bankAccount.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span myTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bank-account', bankAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span myTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
